.pagewarp
  article(id="article")
    .login-warper
      .l-block
        .l-header
          h3 Вход в систему
        .l-inputs
            input(type="text" name="username" placeholder="Логин" class="password form-control"  id="login" required)
            input(type="password" name="password" placeholder="Пароль" class="password form-control" id="password" required)
        .l-buttons
          button(type="submit" class="l-btn btn btn-outline-primary" id="l-btn") Вход
  include footer.pug  