title= title
link(rel="stylesheet", href="libs/jquery-ui/jquery-ui.min.css")
link(rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="css/minified/main.min.css" type="text/css")
link(rel="stylesheet", href="css/minified/layouts.min.css" type="text/css")
link(rel="stylesheet", href="libs/jstree/jquery.treeView.css")
link(rel="stylesheet", href="libs/fontawesome/css/all.css" async)

link(rel="icon" href="img/favicon.png" type="image/x-icon")

//- -------
script(src="libs/jquery/jquery.js" defer)
script(src="libs/jstree/jquery.treeView.js" defer)
script(src="libs/jquery-ui/jquery-ui.min.js" defer)
script(src="libs/bootstrap/js/bootstrap.min.js" defer)
script(src="libs/fontawesome/js/all.js" async)

