title= title
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
link(rel="stylesheet", href="libs/jquery-ui/jquery-ui.min.css")
link(rel="stylesheet", href="css/main.css" type="text/css")
link(rel="stylesheet", href="css/layouts.css" type="text/css")
link(rel="stylesheet", href="libs/jstree/themes/default/style.min.css")
//- link(rel="stylesheet", href="libs/wowjs/animate.css" type="text/css")
//- link(rel="stylesheet", href="libs/fontawesome/css/all.css" async)
//- -------
script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
script(src="libs/jquery-ui/jquery-ui.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
script(src="libs/jstree/jstree.min.js")
//- script(src="libs/wowjs/wow.min.js")
//- script(src="libs/fontawesome/js/all.js" async)

