html
  head
    include layouts/meta-head.pug
    link(rel="stylesheet", href="./css/minified/admin.min.css")
  body
    //- определяет content страницы
    include layouts/rules.pug
    #preloader
      include preloader.html
    script(src="/admin.js" defer)