html
  head
    include layouts/meta-head.pug
    link(rel="stylesheet", href="./css/minified/login.min.css")
  body
    //- определяет content страницы
    include layouts/login.pug
    #preloader
      include preloader.html
    script(src="/login.js" defer)
