html
  head
    include layouts/meta-head.pug
    link(rel="stylesheet", href="./css/table.css")
  body
    //- определяет conttent страницы
    include layouts/table.pug
    #preloader
      include preloader.html
    script(src="/table.js")